body{
    font-family: sans-serif;
    font-size: 16px;
    margin: auto;
    background-color:rgb(216, 216, 228);
    padding: 20px;
}



h1{
    font-size: 36px;
    font-weight: 900;
    color: #003862;
    text-align: center;
}



tbody{
    margin-left: 100rem;
}

button{
background-color:rgb(125, 125, 180);
color: black;
padding: 10px 20px;
border: ridge;
border-radius:5px;
cursor:pointer;
font-size: 16px;
font-weight: bold;
margin-left: 37rem;
transition: background-color 0.3s ease-in-out;
}

button:hover{
    background-color: rgb(71, 71, 102);
}



button:active{
    transform: scale(0.9);
}



table{
    width: 50rem;
    margin-left: 15rem;
    border-collapse: collapse;
    margin-top: 2rem;
    padding-inline: 3rem;
    table-layout: fixed;
}

#headrow{
    background-color:rgb(147, 147, 185);
}

tbody{
    background-color: rgb(209, 209, 216);
}


th, td{
    border: 1px solid;
    padding: 8px;
}



#btn{
    margin-left: 100px;
    padding: 5px 10px;
    font-size: small;
    border: none;
    
}

tfoot{
   background-color:  rgb(147, 147, 185);
}




p{
    text-align: center;
    text-align: right; 
    width: fit-content; 
    margin: 50px auto;
}

p input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border-width: 1.5px;
    font-size: medium;
}